
@{
    ViewData["Title"] = "Colors";
}



@model List<Color>

<style>
    table {
        counter-reset: section;
    }

    .count:before {
        content: counter(section);
        counter-increment: section;
    }
</style>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product Colors</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">

            <a class="btn btn-success" asp-area="Manage" asp-controller="Colors" asp-action="Create">Add</a>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Color item in Model)
                        {
                            <tr>
                                <td class="count"></td>
                                <td>@item.Name</td>
            
                                <td>
                                    <label>
                                        @(item.IsActive ? "Active" : "Inactive")
                                    </label>
                                    <a class="btn btn-warning ms-2" asp-area="Manage" asp-controller="Colors" asp-action="ChangeStatus" asp-route-id="@item.Id">Change</a>
                                </td>
                              
                                <td><a class="btn btn-warning" asp-area="Manage" asp-controller="Colors" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                                <td><a class="btn btn-danger" asp-area="Manage" asp-controller="Colors" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>


            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

